$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 5,
  8: $spacer * 6.5,
  9: $spacer * 7
);

$customGutter: 100px;

.g-custom > [class^="col-"] {
  padding-right: calc(#{$customGutter} / 2);
  padding-left: calc(#{$customGutter} / 2);
}

.mx-custom {
  margin-left: map-get($spacers, 6);
  margin-right: map-get($spacers, 6);
}

.px-custom {
  padding-left: map-get($spacers, 6);
  padding-right: map-get($spacers, 6);
}

.custom-rounded {
  border-top-left-radius: 130px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.module-border-wrap {
  background: linear-gradient(to right, red, purple);

}

.box:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-64deg, #e70feb 0%, #0f18ed 100% );
  transform: translate3d(0px, 0px, 0) scale(1);
  filter: blur(6px);
  opacity: 45%;
  transition: opacity 0.3s;
  border-radius: inherit;
}

.box::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.card {
  transition: box-shadow 0.3s ease;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.096);
}
      
.card-bg-image {
  background-image: url(/card-circle.svg);
  background-size: auto; 
  background-repeat: no-repeat;
}

body {
  background-image: url("oval-base1.svg");
  background-size: auto;
  background-repeat: no-repeat;
}
