@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

$primary: #0F55A8;

$custom-colors: (
  "footer-blue": #2C40F0,
  "primary-p50": #E7E8FD,
  "a500": #8D098F,
  "b300": #EDA20F, 
  "p100": #7479F5,
  "footer-subtext": #4F4E4E,
  "n90": #85868E,
  "n80": #94959C,
  "a50": #FDE7FD,
  "p300": #0F18ED,
  "n300": #575863,
);

$font-family-base: 'Plus Jakarta Sans', sans-serif;
$navbar-nav-link-padding-x:         2rem;

@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap";
      
#logo {
  content: url('/logo-navbar-color.svg');
}

#logo:hover {
  content: url('/logo-navbar-solid.svg');
}

@media (max-width: 991px) {
  .dropdown-menu.bg-a50 {
    border: none;
  }
}

@media (max-width: 991px) {
  .extra-text {
    display: block; /* Show the extra text */
  }
}

@media (min-width: 992px) {
  .extra-text {
    display: none; /* Show the extra text */
  }
}

#footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#footer-links a {
  flex-basis: calc(25% - 1rem); /* Adjust as needed */
  box-sizing: border-box;
}

      
      