@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

$primary: #0F55A8;

$custom-colors: (
  "footer-blue": #2C40F0,
  "primary-p50": #E7E8FD
);

$font-family-base: 'Plus Jakarta Sans', sans-serif;
$navbar-nav-link-padding-x: 2rem;

@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 5,
  8: $spacer * 6.5,
  9: $spacer * 7
);

$utilities: () !default;
$utilities: map-merge((
  "shadow": (
    property: box-shadow,
    class: shadow,
    values: (
      null: $box-shadow,
      sm: $box-shadow-sm,
      lg: $box-shadow-lg,
      WhyUs: 0px 3px 4px 1px rgba(0, 0, 0, 0.10)
    )
  ),
  "rounded": (
    property: border-radius,
    class: rounded,
    values: (
      null: $border-radius,
      0: 0,
      1: $border-radius-sm,
      2: $border-radius,
      3: $border-radius-lg,
      circle: 50%,
      pill: $border-radius-pill,
      WhyUs: 7.5rem 1.5rem 1.5rem 1.5rem
    )
  ),
  "width": (
    property: width,
    class: w,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
      inherit: inherit
    )
  ),
), $utilities);

$custom-grid-breakpoints: (
  cxxl: 1440px
);

$grid-breakpoints: map-merge($grid-breakpoints, $custom-grid-breakpoints);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap";