@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

$primary: #0F55A8;

$custom-colors: (
  "footer-blue": #2C40F0,
  "primary-p50": #E7E8FD,
  "event-purple": #8D098F,
  "event-orange": #EDA20F,
  "event-button": #7479F5
);

$font-family-base: 'Plus Jakarta Sans', sans-serif;
$navbar-nav-link-padding-x:         2rem;

@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap";