#porto {
    background-image: url("../assets/icons/home-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#porto-hero-container {
    // background:
    //     linear-gradient(0deg, rgba(31, 0, 32, 0.80) 0%, rgba(31, 0, 32, 0.80) 100%),
    //     url('../assets/images/porto-hero-desktop.jpg');
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.1) 80%,
            rgba(255, 255, 255, 1) 100%),
        url(../assets/images/porto-hero-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
}


#item {
    border-radius: 2rem;
    border: 3px solid var(--White, #FFF);
    opacity: .2;
    transition: .5s;
}

.first-child h2,
.first-child p {
    color: white;
}

#item:hover {
    transition: .5s;
    opacity: .5;
}

#item a {
    text-decoration: none;
}

#item a p {
    padding: .3rem .5rem;
    margin: 0 !important;
    color: white;
}

#porto-item-container {
    background-image: url('../assets//icons/porto-bg.svg');
    background-position-y: 20%;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-20rem);
}

#porto-card button {
    padding: 0.5rem 0;
}

#porto-card button a {
    text-decoration: none;
    padding: 0.5rem 3rem 0.5rem 3rem;
    color: white;
}

#porto-blur {
    position: absolute;
    bottom: -35%;
    width: 100%;
    height: 50%;
    /* Adjust the height of the blurred area */
    backdrop-filter: blur(5px);
    /* Adjust the blur amount */
    z-index: -1;
}

@media screen and (max-width: 320px) {
    #porto-item-container {
        transform: translateY(-14rem);
    }
}

@media screen and (max-width: 575px) {

    #porto-card {
        padding: 1rem;
        width: 90%;
        color: white;
        border-radius: 1rem 7.5rem 1rem 1rem;
        background: var(--aa-400, #A20BA5);
    }

    #porto-card img {
        border-radius: 1rem 6.25rem 1rem 1rem;
    }

    #porto-card button {
        align-self: center;
        border-radius: 3rem;
        background: var(--aa-300, #E70FEB);
        box-shadow: 0px 5px 15px 0px rgba(254, 114, 93, 0.30);
        border: none;

        color: white;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        transition: 0.5s;
    }

    #porto-button {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 10rem;
        width: 100%;
        height: 3rem;
        border-radius: 2.5rem 1rem;
        background: var(--aa-400, #A20BA5);
        transition: .5s;
    }

    #porto-button:hover {
        transition: .5s;
        background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%));

    }

    #porto-button a {
        transition: .5s;
        text-decoration: none;
        color: white;
    }

    #porto-card button:hover {
        transition: ease-in .5s;
        background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%));
    }

    #porto-header {
        width: 100%;
    }

    #porto-wrapper {
        margin: 1.5rem !important;
    }
}

@media screen and (min-width: 576px) {
    #porto-card {
        padding: 1rem;
        width: 25rem;
        color: white;
        border-radius: 1rem 7.5rem 1rem 1rem;
        background: var(--aa-400, #A20BA5);
    }

    #porto-card img {
        border-radius: 1rem 6.25rem 1rem 1rem;
    }

    #porto-card button {
        align-self: center;
        border-radius: 3rem;
        background: var(--aa-300, #E70FEB);
        box-shadow: 0px 5px 15px 0px rgba(254, 114, 93, 0.30);
        border: none;

        color: white;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        transition: 0.5s;
    }

    #porto-button {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 10rem;
        width: 100%;
        height: 3rem;
        border-radius: 2.5rem 1rem;
        background: var(--aa-400, #A20BA5);
        transition: .5s;
    }

    #porto-button:hover {
        transition: .5s;
        background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%));

    }

    #porto-button a {
        transition: .5s;
        text-decoration: none;
        color: white;
    }

    #porto-card button:hover {
        transition: ease-in .5s;
        background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%));
    }

    #porto-header {
        max-width: 30rem;
        width: 100%;
    }

    #porto-wrapper {
        padding: 0 1rem 0 2rem;
    }
}

@media screen and (min-width: 768px) {
    #porto-card {
        padding: 1rem;
        width: 18rem;
        color: white;
        border-radius: 1rem 7.5rem 1rem 1rem;
        background: var(--aa-400, #A20BA5);
    }

    #porto-card img {
        border-radius: 1rem 6.25rem 1rem 1rem;
    }

    #porto-card button {
        align-self: center;
        border-radius: 3rem;
        background: var(--aa-300, #E70FEB);
        box-shadow: 0px 5px 15px 0px rgba(254, 114, 93, 0.30);
        border: none;

        color: white;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        transition: 0.5s;
    }

    #porto-button {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 10rem;
        width: 100%;
        height: 3rem;
        border-radius: 2.5rem 1rem;
        background: var(--aa-400, #A20BA5);
        transition: .5s;
    }

    #porto-button:hover {
        transition: .5s;
        background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%));

    }

    #porto-button a {
        transition: .5s;
        text-decoration: none;
        color: white;
    }

    #porto-card button:hover {
        transition: ease-in .5s;
        background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%));
    }

    #porto-header {
        max-width: 25rem;
        width: 100%;
    }

    #item a p {
        padding: .5rem 1.5rem;
        margin: 0 !important;
        color: white;
    }
}


@media screen and (min-width:992px) {
    #porto-hero-container div p {
        max-width: 40rem;
        width: 100%;
    }

    #porto-button {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 10rem;
        width: 100%;
        height: 3rem;
        border-radius: 2.5rem 1rem;
        background: var(--aa-400, #A20BA5);
        transition: .5s;
    }

    #porto-button:hover {
        transition: .5s;
        background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%));

    }

    #porto-button a {
        transition: .5s;
        text-decoration: none;
        color: white;
    }


    #porto-header {
        max-width: 30rem;
        width: 100%;
    }

    #porto-container {
        max-width: 63rem;
        width: 100%;
    }

    #porto-item-container {
        gap: 3rem;
        transform: translateY(-20rem);
        padding: 0 1rem 0 1rem;
    }

    #porto-card-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    #porto-card {
        padding: 1rem;
        width: 20rem;
        color: white;
        border-radius: 1rem 7.5rem 1rem 1rem;
        background: var(--aa-400, #A20BA5);
    }

    #porto-card img {
        border-radius: 1rem 6.25rem 1rem 1rem;
    }


    #porto-card button {
        align-self: center;
        border-radius: 3rem;
        background: var(--aa-300, #E70FEB);
        box-shadow: 0px 5px 15px 0px rgba(254, 114, 93, 0.30);
        border: none;

        color: white;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        transition: 0.5s;
    }

    #porto-card button:hover {
        transition: ease-in .5s;
        background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%));
    }

    #desktop-nav-container {
        position: sticky;
        top: 50%;
        bottom: 10%;
        display: flex !important;
        justify-content: center;
        background: var(--aa-400, #A20BA5);
        padding: 1.5rem 0;
        // transform: translateX(-15rem);
        width: 14rem;
        height: max-content;
        border-radius: 1.5rem;
        padding: 2.5rem 1.25rem;
    }

    #desktop-nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #desktop {
        border-radius: 2.375rem;
        border: 2px solid var(--Grad-C, #BED4FF);
        opacity: .5;
        // padding: 1rem 1.5rem !important;
    }

    #desktop p {
        padding: .8rem 1.5rem !important;
        border-radius: 2.375rem;
        margin: 0 !important;
        text-align: center;
        color: white;
        transition: .5s;
    }

    #desktop:hover,
    #desktop p:hover {
        transition: .5s;
        opacity: 1;
    }

    #porto-wrapper {
        padding: 0;
    }

}

@media screen and (min-width: 1200px) {
    #porto-item-container {
        transform: translateY(-20rem);
        padding: 0;
    }

    #desktop-nav-container {
        width: 16rem;
    }

    #desktop p{
        text-align: left;
    }
}