
.showcase-card-background {
  border-radius: 24px 120px 24px 24px;
  background-color: purple;
  padding: 0rem 4.65rem 0rem 4.65rem;
  height: 450px;
  margin-bottom: 50px;
  overflow: hidden;
  background-image: url("EllipseL.svg"), url("EllipseR.svg");
  background-position: 0% 100%, 100% 0%;
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
  position: relative;
}

/* .owl-carousel-showcase{
  overflow: hidden;
} */

.owl-carousel-showcase:hover{
  overflow: visible;
}

.showcase-card{
  border-radius: 16px 120px 16px 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  margin-top: 100px;
  top: -50px;
}

.showcase-card:hover {
  transform: translateY(-100px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.096);
  background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%));
  height: auto;
  margin-bottom: -100px;
  position: absolute;
}

@media (max-width: 768px) { /* Medium screen breakpoint */
  .showcase-card {
      width: 100% !important; /* Apply the width of 100% on medium screens */
  }
}

@media (max-width: 576px) { /* Medium screen breakpoint */
  .showcase-card {
      width: 100% !important; /* Apply the width of 100% on medium screens */
  }
}

.card-image{
  padding: 20px 20px 20px 20px;
  height: 220px;
  border-radius: 36px 120px 36px 36px;
}

.card-text-opacity{
  opacity: 0.7;
}

.circle-card{
  background-color: #8D098F;
  border-radius: 20px;
}

.project-button{
  border-radius: 20px;
}

/* .owl-stage-outer {
  margin-left: 4%;
} */


.showcase-arrow-left {
  margin-left: -3.5rem;
  margin-top: -4rem;
}

.showcase-arrow-right {
  margin-right: 2.5rem;
  margin-top: -4rem;
}

@media screen and (max-width: 768px) {
  .showcase-arrow-left {
    margin-left: -4.5rem;
  }

  .showcase-arrow-right {
    margin-right: -4.5rem;
  }
}

@media screen and (max-width: 576px) {
  .showcase-arrow-left {
    margin-left: -5rem;
  }

  .showcase-arrow-right {
    margin-right: -5rem;
  }
}