.showcase-card{
  max-width: 300px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  border-top-left-radius: 16px;
  border-top-right-radius: 120px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  width: auto;
  overflow: hidden;
  position: relative;

}

.showcase-card-background {
  border-radius: 24px 120px 24px 24px;
  background-color: purple;
  padding: 4.65rem;

}

