$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 5,
  8: $spacer * 6.5,
  9: $spacer * 7
);

$customGutter: 100px;

.g-custom > [class^="col-"] {
  padding-right: calc(#{$customGutter} / 2);
  padding-left: calc(#{$customGutter} / 2);
}

.mx-custom {
  margin-left: map-get($spacers, 1);
  margin-right: map-get($spacers, 1);
}

.px-custom {
  padding-left: map-get($spacers, 1);
  padding-right: map-get($spacers, 1);
}

.module-border-wrap {
  background: linear-gradient(to right, red, purple);

}

.box:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-64deg, #e70feb 0%, #0f18ed 100% );
  transform: translate3d(0px, 0px, 0) scale(1);
  filter: blur(6px);
  opacity: 45%;
  transition: opacity 0.3s;
  border-radius: inherit;
}

.box::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

/* Style Desktop */
@media screen and (min-width: 1024px) {
  .desktop-content {
    display: block;
  }
  .tablet-content, .mobile-content {
    display: none;
  }
}

/* Style Tab */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .tablet-content {
    display: block;
  }
  .desktop-content, .mobile-content {
    display: none;
  }
}

/* Style Mobile */
@media screen and (max-width: 767px) {
  .mobile-content {
    display: block;
  }
  .desktop-content, .tablet-content {
    display: none;
  }
}



  $primary: #0F55A8;

  $custom-colors: (
    "footer-blue": #2C40F0,
    "primary-p50": #E7E8FD,
    "a500": #8D098F,
    "b300": #EDA20F, 
  );

  $font-family-base: 'Plus Jakarta Sans', sans-serif;

  .my-button {
    display: inline-flex;
    padding: 12px 28px;
    align-items: center;
    border-radius: 15px;
    gap: 12px;
    font-size: 24px; 
    font-family: $font-family-base;
    font-weight: bold;
    background-color: var(--primary-p-100, #7479F5);
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    margin-bottom: 80px;
  }

  .another-button {
    background-color: $primary;
    color: map-get($custom-colors, "a500");
  }

  .my-button:hover {
    transform: translateY(-5px);
    background-color: var(--aa-300, #0056b3); 
    box-shadow: 0px 5px 15px 0px rgba(254, 114, 93, 0.30);
  }

  .my-buttonp {
    display: flex;
    padding: 8px 24px;
    align-items: flex-start;
    gap: 10px;
    font-family: $font-family-base;
    font-weight: bold;
    background: var(--aa-300, #E70FEB);
    box-shadow: 0px 5px 15px 0px rgba(254, 114, 93, 0.30);
    color: #ffffff;
    border: none;
    border-radius: 48px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    margin-bottom: 16px;
  }


  .another-buttonp {
    background-color: $primary;
    color: map-get($custom-colors, "a500");
  }


  .my-buttonp:hover {
      transform: translateY(-5px);
      background-color: #0056b3;
  }

  :root {
    --aa-500: #8D098F;
    --white: #FFF;
  }

  .frame-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    align-self: stretch;
    margin-bottom: 20px;
  }

  .frame {
    display: flex;
    gap: 10px;
    border-radius: 24px;
    background: var(--aa-500, #8D098F);
    margin-left: 16px;
  }

  .caption-left {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    color: var(--white, #FFF);
    // margin: 10px;
    padding: 10px;
  }

  .caption-right {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    color: var(--white, #FFF);
    margin-right: 16px;
  }

  .ShowCaseProduct--custom-font h3 {
    font-size: 23px;
  }

#carouselExampleControls {
    .carousel-control-prev,
  .carousel-control-next {
    border-radius: 50%;
    top: 50%;
    transform: translateY(-100%);
    z-index: 1;
    opacity: 0;
    span {
      width: 1.5rem;
      height: 1.5rem;
      max-width: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.carousel-inner {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s;
  overflow: hidden;    
}
.carousel-inner:hover {
  overflow: visible;
}

.cards-wrapper {
  position: relative;
}
.card1 {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  margin-top: 46px;
  margin-bottom: auto;
  margin-left: auto;
  z-index: 2;
  border-top-left-radius: 16px;
  border-top-right-radius: 120px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  width: auto;
  height: 370px;
  overflow: hidden;
  position: relative;
}

.card1:hover {
  transform: translateY(-150px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.096);
  background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%));
  z-index: 2;
  overflow: visible;
  height: auto;
  margin-bottom: -100px;
  position: absolute;
}

.card1-bg-image {
  background: var(--aa-400, #A20BA5);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 10px;
}

.card1 .img-container img {
  width: 100%;
  height: auto;
  border-top-left-radius: 26px;
  border-top-right-radius: 120px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
}

body {
  background-image: url("../assets/icons/oval-base1.svg");
  background-size: auto;
  background-repeat: no-repeat;
}

.custom-overlay {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: #8D098F;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  z-index: 9999;
}

.card2 {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    position: relative;
    flex-shrink: 0;
    max-height: 80%;
    margin-bottom: 16px;
    z-index: 0;
    border-top-left-radius: 24px;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    width: auto;
    height: fix;
  }

  .card2:hover {
    transform: translateY(0px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.096);
    overflow: visible; 
  }
  
  .card2-bg-image {
    background: var(--aa-500, #8D098F);
    background-image: url("EllipseL.svg"), url("EllipseR.svg");
    background-position: 0% 100%, 100% 0%;
    background-size: auto, auto;
    background-repeat: no-repeat, no-repeat;
    position: relative;
  }