@media screen and (min-width: 768px) {
  .slider-card {
    transform: none;
    /* Remove the transform scale */
  }
}

/* Styles for screen sizes equal to or greater than 576px */
@media screen and (min-width: 576px) {
  .slider .owl-item.active.center .slider-card {
    transform: none;
    /* Apply the transform scale only for this selector */
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

.slider {
  margin-bottom: 30px;
  position: relative;
}

.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 50px 15px 40px 15px;
  border-bottom-left-radius: 10.3px;
  border-bottom-right-radius: 31px;
  border-top-left-radius: 155px;
  border-top-right-radius: 31px;
  border: #ffffff00 15px solid;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(180deg, rgba(190, 212, 255, 0.80) 0%, rgba(246, 190, 255, 0.80) 29.48%, rgba(212, 203, 255, 0.78) 55.52%, rgba(250, 160, 246, 0.80) 82.08%, rgba(208, 172, 254, 0.80) 98.23%) border-box;
  transform: scale(0.9);
  transition: all 0.3s;
}

.slider-card img {
  border-top-left-radius: 140px;
  border-top-right-radius: 16px;
}

.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}

.owl-dots .owl-dot.active {
  background: #f44336 !important;
}

@media screen and (min-width: 1024px) {
  .slider .owl-item.active.center .slider-card {
    transform: scale(1.15);
  }

  .slider-card {
    margin: 50px 15px 90px 15px;
  }
}