$grad-a: linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%);
$grad-c: linear-gradient(180deg, rgba(190, 212, 255, 0.80) 0%, rgba(246, 190, 255, 0.80) 29.48%, rgba(212, 203, 255, 0.78) 55.52%, rgba(250, 160, 246, 0.80) 82.08%, rgba(208, 172, 254, 0.80) 98.23%);
$tablet-width: 992px;
$mobile-width: 768px;
$border-width: 10px;


.custom-box {
  border-radius: 20px 50px;
  background: $grad-c;
  position: relative;
  width: 90%;
  justify-content: center;
  text-align: center;
  z-index: 0;
  padding: 1.25rem;

  .user-text p {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .user-text span {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
  }

  @media screen and (max-width: $tablet-width) {
    .user-text p {
      font-size: 1.25rem;
    }
    .user-text span {
      margin-top: 2.5rem
    }

    @media screen and (max-width: $mobile-width) {
      .user-text p {
        font-size: 1rem;
      }
      .user-text span {
        font-size: 1.25rem;
        margin-top: 2.5rem
      }
    }
  }

  &::before {
    content: "";
    display: block;
    height: calc(100% - #{$border-width} * 2);
    width: calc(100% - #{$border-width} * 2);
    position: absolute;
    top: #{$border-width};
    left: #{$border-width};
    background: #fff;
    border-radius: calc(20px - #{$border-width}) calc(50px - #{$border-width});
    z-index: -1;
  }
}

.card-userreview {
  height: 200px; /* You can adjust the height to your desired size */
  object-fit: cover; /* This ensures the image covers the entire space without distortion */
}

.card-text-font{
  font-size: 12px;
}

.card-user-border{
  border-radius: 200px;
}



