---
import fetchApi from "../lib/strapi";
import type Communities from "../interfaces/communities";

const communities = await fetchApi<Communities[]>({
  endpoint: 'communities?populate=logo',
  wrappedByKey: 'data',
});
---

<div class="text-center">
  <h1 class="text-a-a500 px-md-5 pt-5 fw-bold display-5">
    Step Inside Our <span class="text-b-b300">Extraordinary Community!</span>
  </h1>
</div>

<div class="text-center">
  <h3 class="pb-5 mb-5 align-self-center text-a-a500 pt-3 fs-3 fw-bold" style="width: 70%; margin: auto;">
    Immerse yourself in the diverse world of our <span class="text-b-b300"> eight computer science communities</span> at IPB University.
  </h3>
</div>

<div class="row g-5 mb-5 mx-0 mx-md-2 mx-lg-4 px-0 px-md-4 px-lg-4">
  {
    communities.map(list => (
      <div class="col-6 col-md-6 col-lg-3">
        <div
          class="showToast card custom-rounded box border border-0 card-bg-image mx-2 mx-md-3 mx-lg-4"
          style="cursor: pointer;"
        >
          <div class="card-body d-flex justify-content-center">
            <img
              src={list.attributes.logourl}
              class="card-img-top pt-5"
              alt="..."
              style="max-height: 145px; max-width: 145px;"
            />
          </div>
          <div class="card-body">
            <h5 class="fw-bold fs-3 card-title text-center pb-4 pb-md-5 pb-lg-5">{list.attributes.abbr}</h5>
          </div>
        </div>
      </div>
    ))
  }
</div>
