<div class="text-center">
    <h1 class="text-a500 px-md-5 pt-5 fw-bold fs-1">
        Step Inside Our <span class="text-b300">Extraordinary Community!</span>
    </h1>
</div>

<div class="row text-center">
    <div class="col"></div>
    <h3 class="col-10 col-md-8 col-lg-8 pb-5 mb-5 align-self-center text-a500 pt-3 fw-bold">
        Immerse yourself in the diverse world of our <span class="text-b300"> eight computer science communities</span> at IPB University.
    </h3>
    <div class="col"></div>
</div>

<div class="row g-5 mb-5 mx-5 px-5">
    <div class="col-12 col-md-6 col-lg-3">
        <div
            class="card custom-rounded box border border-0"
            style="cursor: pointer;"
        >
            <div class="card-body d-flex justify-content-center">
                <img
                    src="/logo_AgriUX.svg"
                    class="card-img-top pt-5"
                    alt="..."
                    style="max-height: 145px; max-width: 145px;"
                />
            </div>
            <div class="card-body">
                <h5 class="fw-bold fs-3 card-title text-center pb-5">
                    Agri UX
                </h5>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
        <div
            class="card custom-rounded box border border-0"
            style="cursor: pointer;"
        >
            <div class="card-body d-flex justify-content-center">
                <img
                    src="/logo-csi.svg"
                    class="card-img-top pt-5"
                    alt="..."
                    style="max-height: 145px; max-width: 145px;"
                />
            </div>
            <div class="card-body">
                <h5 class="fw-bold fs-3 card-title text-center pb-5">CSI</h5>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
        <div
            class="card custom-rounded box border border-0"
            style="cursor: pointer;"
        >
            <div class="card-body d-flex justify-content-center">
                <img
                    src="/logo_agribot.svg"
                    class="card-img-top pt-5"
                    alt="..."
                    style="max-height: 145px; max-width: 145px;"
                />
            </div>
            <div class="card-body">
                <h5 class="fw-bold fs-3 card-title text-center pb-5">
                    Agribot
                </h5>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
        <div
            class="card custom-rounded box border border-0"
            style="cursor: pointer;"
        >
            <div class="card-body d-flex justify-content-center">
                <img
                    src="/logo_cp.svg"
                    class="card-img-top pt-5"
                    alt="..."
                    style="max-height: 145px; max-width: 145px;"
                />
            </div>
            <div class="card-body">
                <h5 class="fw-bold fs-3 card-title text-center pb-5">CP</h5>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
        <div
            class="card custom-rounded box border border-0"
            style="cursor: pointer;"
        >
            <div class="card-body d-flex justify-content-center">
                <img
                    src="/logo_iwdc.svg"
                    class="card-img-top pt-5"
                    alt="..."
                    style="max-height: 145px; max-width: 145px;"
                />
            </div>
            <div class="card-body">
                <h5 class="fw-bold fs-3 card-title text-center pb-5">IWDC</h5>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
        <div
            class="card custom-rounded box border border-0"
            style="cursor: pointer;"
        >
            <div class="card-body d-flex justify-content-center">
                <img
                    src="/logo_gary.svg"
                    class="card-img-top pt-5"
                    alt="..."
                    style="max-height: 145px; max-width: 145px;"
                />
            </div>
            <div class="card-body">
                <h5 class="fw-bold fs-3 card-title text-center pb-5">GARY</h5>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
        <div
            class="card custom-rounded box border border-0"
            style="cursor: pointer;"
        >
            <div class="card-body d-flex justify-content-center">
                <img
                    src="/logo_mad.svg"
                    class="card-img-top pt-5"
                    alt="..."
                    style="max-height: 145px; max-width: 145px;"
                />
            </div>
            <div class="card-body">
                <h5 class="fw-bold fs-3 card-title text-center pb-5">MAD</h5>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
        <div
            class="card custom-rounded box border border-0"
            style="cursor: pointer;"
        >
            <div class="card-body d-flex justify-content-center">
                <img
                    src="/logo_daming.svg"
                    class="card-img-top pt-5"
                    alt="..."
                    style="max-height: 145px; max-width: 145px;"
                />
            </div>
            <div class="card-body">
                <h5 class="fw-bold fs-3 card-title text-center pb-5">Daming</h5>
            </div>
        </div>
    </div>
</div>
