---
import event1 from "../../public/event-1.png";
import event2 from "../../public/event-2.png";
import event3 from "../../public/event-3.png";
import event4 from "../../public/event-4.png";
---

<div id="eventSection" class="px-5 py-5" style="background-color: #e9eafd;">
  <h1 class="text-center fw-bold">
    <span class="text-a-a500">Join Our</span>
    <span class="text-b-b300">Exciting Events!</span>
  </h1>

  <h4 class="my-4 text-center fw-bold">
    <span class="text-a-a500">Experience the thrill of participating in</span>
    <span class="text-b-b300">our engaging events</span><span
      class="text-a-a500">, where knowledge and fun come together.</span
    >
  </h4>

  <div
    id="eventCard"
    class="mx-xs-0 my-xs-0 mx-sm-5 my-sm-3 mx-md-0 my-md-0 my-lg-5 px-xl-3 mx-xl-3 px-xxl-5 mx-xxl-5"
  >
    <div
      class="row justify-content-center px-4 px-md-0 py-md-4 px-lg-5 py-lg-3 gx-md-5 gy-md-1 gx-lg-4"
    >
      <div class="col-12 col-md-6 col-lg-3 d-flex">
        <div class="card border-0 event-box my-4 my-md-3 my-lg-0 flex-fill">
          <img
            src={event1}
            class="card-img-top"
            alt="..."
            style="border-radius: 10px 40px 10px 10px;"
          />
          <p class="px-3 pt-3 mb-2 fw-bold" style="font-size: 1.25rem;">
            Saung desain
          </p>
          <p class="px-3" style="font-size: 0.75rem;">
            Seminar UI/UX Design yang akan membahas seputar Industri sekarang
          </p>
          <a
            href="#"
            class="px-3 py-1 text-decoration-none text-dark d-flex mt-auto"
          >
            <p class="fw-semibold mt-auto" style="font-size: 1.25rem;">
              More Info
            </p>
            <i
              class="bi bi-arrow-right"
              style="margin-left: 8px;
              margin-top: 3px;"></i>
          </a>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 d-flex">
        <div class="card border-0 event-box my-4 my-md-3 my-lg-0 flex-fill">
          <img
            src={event2}
            class="card-img-top"
            alt="..."
            style="border-radius: 10px 40px 10px 10px;"
          />
          <p class="px-3 pt-3 mb-2 fw-bold" style="font-size: 1.25rem;">
            Gary Game Jam
          </p>
          <p class="px-3" style="font-size: 0.75rem;">
            Id eros pellentesque facilisi id mollis faucibus commodo enim.
          </p>
          <a
            href="#"
            class="px-3 py-1 text-decoration-none text-dark d-flex mt-auto"
          >
            <p class="fw-semibold mt-auto" style="font-size: 1.25rem;">
              More Info
            </p>
            <i
              class="bi bi-arrow-right"
              style="margin-left: 8px;
              margin-top: 3px;"></i>
          </a>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 d-flex">
        <div class="card border-0 event-box my-4 my-md-3 my-lg-0 flex-fill">
          <img
            src={event3}
            class="card-img-top"
            alt="..."
            style="border-radius: 10px 40px 10px 10px;"
          />
          <p class="px-3 pt-3 mb-2 fw-bold" style="font-size: 1.25rem;">
            Data and Analytics
          </p>
          <p class="px-3" style="font-size: 0.75rem;">
            Nunc, pellentesque velit malesuada non massa arcu.
          </p>
          <a
            href="#"
            class="px-3 py-1 text-decoration-none text-dark d-flex mt-auto"
          >
            <p class="fw-semibold mt-auto" style="font-size: 1.25rem;">
              More Info
            </p>
            <i
              class="bi bi-arrow-right"
              style="margin-left: 8px;
              margin-top: 3px;"></i>
          </a>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 d-flex">
        <div class="card border-0 event-box my-4 my-md-3 my-lg-0 flex-fill">
          <img
            src={event4}
            class="card-img-top"
            alt="..."
            style="border-radius: 10px 40px 10px 10px;"
          />
          <p class="px-3 pt-3 mb-2 fw-bold" style="font-size: 1.25rem;">
            Agrihack
          </p>
          <p class="px-3" style="font-size: 0.75rem;">
            Imperdiet purus pellentesque sit mi nibh sit integer faucibus.
          </p>
          <a
            href="#"
            class="px-3 py-1 text-decoration-none text-dark d-flex mt-auto"
          >
            <p class="fw-semibold mt-auto" style="font-size: 1.25rem;">
              More Info
            </p>
            <i
              class="bi bi-arrow-right"
              style="margin-left: 8px;
              margin-top: 3px;"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    <a href="#">
      <button class="btn btn-lg btn-primary-p100 text-white fw-bold"
        >See More</button
      >
    </a>
  </div>
</div>
