---
import event1 from "../images/event1.png";
import event2 from "../images/event2.png";
import event3 from "../images/event3.png";
import event4 from "../images/event4.png";
---

<div class="px-5 py-5" style="background-color: #e9eafd;">
  <h1 class="text-center fw-bold">
    <span class="text-event-purple">Join Our</span>
    <span class="text-event-orange">Exciting Events!</span>
  </h1>

  <h4 class="my-4 text-center fw-bold">
    <span class="text-event-purple"
      >Experience the thrill of participating in</span
    >
    <span class="text-event-orange">our engaging events</span><span
      class="text-event-purple"
      >, where<br /> knowledge and fun come together.</span
    >
  </h4>

  <div id="eventCard" class="mx-5 my-5">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card border-0 event-box">
          <img
            src={event1}
            class="card-img-top"
            alt="..."
            style="border-radius: 10px 40px 10px 10px;"
          />
          <p class="px-3 pt-3 fw-bold" style="font-size: 1rem;">Saung desain</p>
          <p class="px-3" style="font-size: 0.75rem;">
            Seminar UI/UX Design yang akan membahas seputar Industri sekarang
          </p>
          <a href="#" class="px-3 py-1 text-decoration-none text-dark d-flex">
            <p class="lead fw-bold">More Info</p>
            <i
              class="bi bi-arrow-right"
              style="margin-left: 8px;
              margin-top: 3px;"></i>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="card border-0 event-box">
          <img
            src={event2}
            class="card-img-top"
            alt="..."
            style="border-radius: 10px 40px 10px 10px;"
          />
          <p class="px-3 pt-3 fw-bold" style="font-size: 1rem;">Saung desain</p>
          <p class="px-3" style="font-size: 0.75rem;">
            Seminar UI/UX Design yang akan membahas seputar Industri sekarang
          </p>
          <a href="#" class="px-3 py-1 text-decoration-none text-dark d-flex">
            <p class="lead fw-bold">More Info</p>
            <i
              class="bi bi-arrow-right"
              style="margin-left: 8px;
              margin-top: 3px;"></i>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="card border-0 event-box">
          <img
            src={event3}
            class="card-img-top"
            alt="..."
            style="border-radius: 10px 40px 10px 10px;"
          />
          <p class="px-3 pt-3 fw-bold" style="font-size: 1rem;">Saung desain</p>
          <p class="px-3" style="font-size: 0.75rem;">
            Seminar UI/UX Design yang akan membahas seputar Industri sekarang
          </p>
          <a href="#" class="px-3 py-1 text-decoration-none text-dark d-flex">
            <p class="lead fw-bold">More Info</p>
            <i
              class="bi bi-arrow-right"
              style="margin-left: 8px;
              margin-top: 3px;"></i>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="card border-0 event-box">
          <img
            src={event4}
            class="card-img-top"
            alt="..."
            style="border-radius: 10px 40px 10px 10px;"
          />
          <p class="px-3 pt-3 fw-bold" style="font-size: 1rem;">Saung desain</p>
          <p class="px-3" style="font-size: 0.75rem;">
            Seminar UI/UX Design yang akan membahas seputar Industri sekarang
          </p>
          <a href="#" class="px-3 py-1 text-decoration-none text-dark d-flex">
            <p class="lead fw-bold">More Info</p>
            <i
              class="bi bi-arrow-right"
              style="margin-left: 8px;
              margin-top: 3px;"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button class="btn btn-lg btn-event-button text-white fw-bold"
      >See More</button
    >
  </div>
</div>
