<footer class="bg-primary-p50 pt-5 pb-2 px-5">
    <div class="mx-3">
        <div class="row">
            <div class="col">
              <h1 class="text-footer-blue fw-bold mb-3" style="background: linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent; background-repeat: no-repeat;">Ilkomunity</h1>
              <h5 class="fw-medium mb-3">
                The best place to <span class="text-primary" style="background: linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent; background-repeat: no-repeat;">learn</span> and <span class="text-primary" style="background: linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent; background-repeat: no-repeat;">grow </span> Together
              </h5>
            </div>
            <div class="col">
                <div class="row mb-3">
                    <h2 class="fw-bold">Communities</h2>
                </div>
                <div class="row">
                    <div class="col-auto pe-5">
                        <a href="#" class="mb-3 d-block text-decoration-none text-footer-subtext fw-medium">AgriUX</a>
                        <a href="#" class="mb-3 d-block text-decoration-none text-footer-subtext fw-medium">CSI</a>
                        <a href="#" class="mb-3 d-block text-decoration-none text-footer-subtext fw-medium">IWDC</a>
                        <a href="#" class="mb-3 d-block text-decoration-none text-footer-subtext fw-medium">Game Reality</a>
                    </div>
                    <div class="col-auto">
                        <a href="#" class="mb-3 d-block text-decoration-none text-footer-subtext fw-medium">Agribot</a>
                        <a href="#" class="mb-3 d-block text-decoration-none text-footer-subtext fw-medium">Data Mining</a>
                        <a href="#" class="mb-3 d-block text-decoration-none text-footer-subtext fw-medium">Mobile Apps Development</a>
                        <a href="#" class="mb-3 d-block text-decoration-none text-footer-subtext fw-medium">Competitive Programming</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row mb-3">
                    <h2 class="fw-bold">IPB University</h2>
                </div>
                <div class="row mb-3">
                    <div class="fs-6 col-9">Kampus IPB, Jl. Raya Dramaga, Babakan, Kec. Dramaga, Kabupaten Bogor, Jawa Barat 16680</div>
                </div>
            </div>
          </div>
          <div class="copyright text-center">
            <h1 class="fs-5 fw-bold text-n90 mt-4 ">© 2023 Ilkomunity. All rights reserved.</h1>
          </div>
    </div>
  
</footer>
