---

---
<nav class="navbar navbar-expand-lg bg-a-a50 px-4">
    <div class="container-fluid mx-3">
       <!-- Replace the text with a custom SVG icon -->
        <a class="navbar-brand" href="#">
          <img src="/logo-navbar-color.svg" alt="" width="150" height="70" id="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>
    
        <div class="offcanvas offcanvas-end bg-a-a50" tabindex="-1" id="navbarNav">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title fw-bold "  style="background: linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent; background-repeat: no-repeat;">Ilkomunity</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body justify-content-end">
            <ul class="navbar-nav d-flex" style="height: 100%;">
              <li class="nav-item">
                <a class="nav-link active fw-semibold text-primary-p300 text-lg-b300" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-medium text-neutral-n80" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Communities
                </a>
                <ul class="dropdown-menu bg-a-a50">
                  <li>
                    <a class="showToast dropdown-item text-neutral-n80" href="#">AgriUX</a></li>
                  <li><a class="showToast dropdown-item text-neutral-n80" href="#">CSI</a></li>
                  <li><a class="showToast dropdown-item text-neutral-n80" href="#">Agribot</a></li>
                  <li><a class="showToast dropdown-item text-neutral-n80" href="#">CP</a></li>
                  <li><a class="showToast dropdown-item text-neutral-n80" href="#">IWDC</a></li>
                  <li><a class="showToast dropdown-item text-neutral-n80" href="#">Gary</a></li>
                  <li><a class="showToast dropdown-item text-neutral-n80" href="#">MAD</a></li>
                  <li><a class="showToast dropdown-item text-neutral-n80" href="#">Daming</a></li>
                </ul>
              </li>
              <li class="nav-item disabled">
                <a class="showToast nav-link fw-medium text-neutral-n80" href="#">Achievement</a>
              </li>
              <li class="nav-item disabled">
                <a class="showToast nav-link fw-medium text-neutral-n80" href="#">Event</a>
              </li>
              <li class="nav-item disabled">
                <a class="showToast nav-link fw-medium text-neutral-n80" href="#">Portfolio</a>
              </li>
              <li class="extra-text text-center mt-auto">
                <a class="nav-link fw-medium text-neutral-n80" href="#">© 2023 Ilkomunity. All rights reserved.</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      