<nav class="navbar navbar-expand-lg bg-primary-p50 px-4">
    <div class="container-fluid mx-3">
      <a class="navbar-brand text-primary fw-bold fs-3" href="#" style="background: linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent;">Ilkomunity</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active fw-semibold" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item disabled">
            <a class="nav-link fw-medium" href="#">Communities</a>
          </li>
          <li class="nav-item disabled">
            <a class="nav-link fw-medium" href="#">Achievement</a>
          </li>
          <li class="nav-item disabled">
            <a class="nav-link fw-medium" href="#">Product</a>
          </li>
          <li class="nav-item disabled">
            <a class="nav-link fw-medium" href="#">Portfolio</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>