---
import left_ico from "../Assets/Icons/Showcase Products - Arrow Left.svg";
import right_ico from "../Assets/Icons/Showcase Products - Arrow Right.svg";
---

<div class="text-center">
  <h1 class="text-a500 px-md-5 pt-5 fw-bold fs-1">
    Behold our <span class="text-b300">creative showcase!</span>
  </h1>
</div>

<div class="row text-center">
  <div class="col"></div>
  <h3
    class="col-10 col-md-8 col-lg-8 pb-5 mb-5 align-self-center text-a500 pt-3 fw-bold"
  >
    Dive into our portfolio and witness the <span class="text-b300">
      stunning work</span
    > our community members have produced.
  </h3>
  <div class="col"></div>
</div>

<div class="card2 custom-rounded box border-1- card2-bg-image mx-2 mx-md-3 mx-lg-4 position-relative">
  <div class="row mb-5 px-0 px-md-4 px-lg-4 position-relative justify-content-center">
    <div class="col-11 col-md-1 d-flex align-items-center justify-content-center">
      <a href="#">
        <div class="card1-body d-flex justify-content-center" style="margin-top: 50%;">
          <img src={left_ico} alt="..." />
        </div>
      </a>
    </div>

    <div class="col-11 col-md-3">
      <div class="card1 custom-rounded box border-1- card1-bg-image mx-2 mx-md-3 mx-lg-4 position-relative" style="cursor: pointer;">
        <div class="card1-body text-center">
          <div class="img-container">
              <img src="/ShowcaseProducts.svg" class="custom-rounded box border-1- card1-bg-image img-fluid" style="cursor: pointer; margin: 10px 0; width: 90%;">
          </div>
          <h3 class="pb-1 fw-bold" style="text-align: left; color: white; margin-left: 16px; font-size: 24px">CarePal</h3>
          <h5 class="pb-1" style="text-align: left; color: rgba(255, 255, 255, 0.9); font-size: 16px; margin-bottom: 31px; margin-left: 16px;">by dhikarfi</h5>
          <div class="frame-container">
            <div class="frame"><p class="caption-left">UI/UX Design</p></div>
            <p class="caption-right">24 Nov 2022</p>
          </div>
          <div class="container" style="display: flex; justify-content: center;">
            <button class="my-buttonp">
              See Project
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-11 col-md-3">
      <div class="card1 custom-rounded box border-1- card1-bg-image mx-2 mx-md-3 mx-lg-4 position-relative" style="cursor: pointer;">
        <div class="card1-body text-center">
          <div class="img-container">
              <img src="/ShowcaseProducts.svg" class="custom-rounded box border-1- card1-bg-image img-fluid" style="cursor: pointer; margin: 10px 0; width: 90%;">
          </div>
          <h3 class="pb-1 fw-bold" style="text-align: left; color: white; margin-left: 16px; font-size: 24px">CarePal</h3>
          <h5 class="pb-1" style="text-align: left; color: rgba(255, 255, 255, 0.9); font-size: 16px; margin-bottom: 31px; margin-left: 16px;">by dhikarfi</h5>
          <div class="frame-container">
            <div class="frame"><p class="caption-left">UI/UX Design</p></div>
            <p class="caption-right">24 Nov 2022</p>
          </div>
          <div class="container" style="display: flex; justify-content: center;">
            <button class="my-buttonp">
              See Project
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-11 col-md-3">
      <div class="card1 custom-rounded box border-1- card1-bg-image mx-2 mx-md-3 mx-lg-4 position-relative" style="cursor: pointer;">
        <div class="card1-body text-center">
          <div class="img-container">
              <img src="/ShowcaseProducts.svg" class="custom-rounded box border-1- card1-bg-image img-fluid" style="cursor: pointer; margin: 10px 0; width: 90%;">
          </div>
          <h3 class="pb-1 fw-bold" style="text-align: left; color: white; margin-left: 16px; font-size: 24px">CarePal</h3>
          <h5 class="pb-1" style="text-align: left; color: rgba(255, 255, 255, 0.9); font-size: 16px; margin-bottom: 31px; margin-left: 16px;">by dhikarfi</h5>
          <div class="frame-container">
            <div class="frame"><p class="caption-left">UI/UX Design</p></div>
            <p class="caption-right">24 Nov 2022</p>
          </div>
          <div class="container" style="display: flex; justify-content: center;">
            <button class="my-buttonp">
              See Project
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-11 col-md-1 d-flex align-items-center justify-content-center">
      <a href="#">
          <div class="card1-body d-flex justify-content-center" style="margin-top: 50%;">
              <img src={right_ico} alt="..." />
          </div>
      </a>
    </div>
  </div>
</div>

<div class="container" style="display: flex; justify-content: center;">
  <button class="my-button">
    See All Product
  </button>
</div>
