---
import left_ico from "../assets/icons/showcase-products-arrow-left.svg";
import right_ico from "../assets/icons/showcase-products-arrow-right.svg";
---

<div class="text-center">
  <h1 class="text-a-a500 px-md-5 pt-5 fw-bold display-5">
    Behold our <span class="text-b-b300">creative showcase!</span>
  </h1>
</div>

<div class="row text-center">
  <div class="col"></div>
  <h3
  class="col-10 col-md-8 col-lg-8 pb-5 mb-5 text-a-a500 align-self-center pt-3 fs-3 fw-bold"
  >
    Dive into our portfolio and witness the <span class="text-b-b300">
      stunning work</span
    > our community members have produced.
  </h3>
  <div class="col"></div>
</div>


<div class="desktop-content">
    <div class="card2 custom-rounded box border-1- card2-bg-image mx-2 mx-md-3 mx-lg-4 position-relative" style= "padding-top: -4%;">

<div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" >
    <div class="carousel-item active">
      <div class="cards-wrapper" style="display: flex; align-items: center; justify-content: center; margin: 0;">
                <div class="col-11 col-md-5 col-lg-3">
                <div class="card1 custom-rounded box border-1- card1-bg-image mx-2 mx-md-3 mx-lg-4 position-relative" style="cursor: pointer;">
                <div class="card1-body text-center">
                    <div class="img-container">
                        <img src="/ShowcaseProducts.svg" class="custom-rounded box border-1- card1-bg-image img-fluid" style="cursor: pointer;">
                    </div>
                    <h1 class="pb-1 fw-bold" style="text-align: left; color: white; margin-left: 16px;">CarePal</h1>
                    <h5 class="pb-1" style="text-align: left; color: rgba(255, 255, 255, 0.9); font-size: 16px; margin-bottom: 31px; margin-left: 16px;">by dhikarfi</h5>
                    <div class="frame-container">
                    <div class="frame">
                        <p class="caption-left" >UI/UX Design</p></div>
                        <p class="caption-right">24 Nov 2022</p>
                    </div>
                    <div class="container" style="display: flex; justify-content: center;">
                    <button class="showToast my-buttonp">
                        See Project
                    </button>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-3">
                <div class="card1 custom-rounded box border-1- card1-bg-image mx-2 mx-md-3 mx-lg-4 position-relative" style="cursor: pointer;">
                <div class="card1-body text-center">
                    <div class="img-container">
                        <img src="/ShowcaseProducts.svg" class="custom-rounded box border-1- card1-bg-image img-fluid" style="cursor: pointer;">
                    </div>
                    <h1 class="pb-1 fw-bold" style="text-align: left; color: white; margin-left: 16px;">CarePal</h1>
                    <h5 class="pb-1" style="text-align: left; color: rgba(255, 255, 255, 0.9); font-size: 16px; margin-bottom: 31px; margin-left: 16px;">by dhikarfi</h5>
                    <div class="frame-container">
                    <div class="frame">
                        <p class="caption-left" >UI/UX Design</p></div>
                        <p class="caption-right">24 Nov 2022</p>
                    </div>
                    <div class="container" style="display: flex; justify-content: center;">
                    <button class="showToast my-buttonp">
                        See Project
                    </button>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-11 col-md-3 col-lg-3 d-md-none d-lg-flex">
                <div class="card1 custom-rounded box border-1- card1-bg-image mx-2 mx-md-3 mx-lg-4 position-relative" style="cursor: pointer;">
                <div class="card1-body text-center">
                    <div class="img-container">
                        <img src="/ShowcaseProducts.svg" class="custom-rounded box border-1- card1-bg-image img-fluid" style="cursor: pointer;">
                    </div>
                    <h1 class="pb-1 fw-bold" style="text-align: left; color: white; margin-left: 16px;">CarePal</h1>
                    <h5 class="pb-1" style="text-align: left; color: rgba(255, 255, 255, 0.9); font-size: 16px; margin-bottom: 31px; margin-left: 16px;">by dhikarfi</h5>
                    <div class="frame-container">
                    <div class="frame">
                        <p class="caption-left" >UI/UX Design</p></div>
                        <p class="caption-right">24 Nov 2022</p>
                    </div>
                    <div class="container" style="display: flex; justify-content: center;">
                    <button class="showToast my-buttonp">
                        See Project
                    </button>
                    </div>
                </div>
                </div>
            </div>
            </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper" style="display: flex; align-items: center; justify-content: center; margin: 0;">
                <div class="col-11 col-md-5 col-lg-3">
                <div class="card1 custom-rounded box border-1- card1-bg-image mx-2 mx-md-3 mx-lg-4 position-relative" style="cursor: pointer;">
                <div class="card1-body text-center">
                    <div class="img-container">
                        <img src="/ShowcaseProducts.svg" class="custom-rounded box border-1- card1-bg-image img-fluid" style="cursor: pointer;">
                    </div>
                    <h1 class="pb-1 fw-bold" style="text-align: left; color: white; margin-left: 16px;">CarePal</h1>
                    <h5 class="pb-1" style="text-align: left; color: rgba(255, 255, 255, 0.9); font-size: 16px; margin-bottom: 31px; margin-left: 16px;">by dhikarfi</h5>
                    <div class="frame-container">
                    <div class="frame">
                        <p class="caption-left" >UI/UX Design</p></div>
                        <p class="caption-right">24 Nov 2022</p>
                    </div>
                    <div class="container" style="display: flex; justify-content: center;">
                    <button class="showToast my-buttonp">
                        See Project
                    </button>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-3">
                <div class="card1 custom-rounded box border-1- card1-bg-image mx-2 mx-md-3 mx-lg-4 position-relative" style="cursor: pointer;">
                <div class="card1-body text-center">
                    <div class="img-container">
                        <img src="/ShowcaseProducts.svg" class="custom-rounded box border-1- card1-bg-image img-fluid" style="cursor: pointer;">
                    </div>
                    <h1 class="pb-1 fw-bold" style="text-align: left; color: white; margin-left: 16px;">CarePal</h1>
                    <h5 class="pb-1" style="text-align: left; color: rgba(255, 255, 255, 0.9); font-size: 16px; margin-bottom: 31px; margin-left: 16px;">by dhikarfi</h5>
                    <div class="frame-container">
                    <div class="frame">
                        <p class="caption-left" >UI/UX Design</p></div>
                        <p class="caption-right">24 Nov 2022</p>
                    </div>
                    <div class="container" style="display: flex; justify-content: center;">
                    <button class="showToast my-buttonp">
                        See Project
                    </button>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-11 col-md-3 col-lg-3 d-md-none d-lg-flex">
                <div class="card1 custom-rounded box border-1- card1-bg-image mx-2 mx-md-3 mx-lg-4 position-relative" style="cursor: pointer;">
                <div class="card1-body text-center">
                    <div class="img-container">
                        <img src="/ShowcaseProducts.svg" class="custom-rounded box border-1- card1-bg-image img-fluid" style="cursor: pointer;">
                    </div>
                    <h1 class="pb-1 fw-bold" style="text-align: left; color: white; margin-left: 16px;">CarePal</h1>
                    <h5 class="pb-1" style="text-align: left; color: rgba(255, 255, 255, 0.9); font-size: 16px; margin-bottom: 31px; margin-left: 16px;">by dhikarfi</h5>
                    <div class="frame-container">
                    <div class="frame">
                        <p class="caption-left" >UI/UX Design</p></div>
                        <p class="caption-right">24 Nov 2022</p>
                    </div>
                    <div class="container" style="display: flex; justify-content: center;">
                    <button class="showToast my-buttonp">
                        See Project
                    </button>
                    </div>
                </div>
                </div>
            </div>
            </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper" style="display: flex; align-items: center; justify-content: center; margin: 0;">
                <div class="col-11 col-md-5 col-lg-3">
                <div class="card1 custom-rounded box border-1- card1-bg-image mx-2 mx-md-3 mx-lg-4 position-relative" style="cursor: pointer;">
                <div class="card1-body text-center">
                    <div class="img-container">
                        <img src="/ShowcaseProducts.svg" class="custom-rounded box border-1- card1-bg-image img-fluid" style="cursor: pointer;">
                    </div>
                    <h1 class="pb-1 fw-bold" style="text-align: left; color: white; margin-left: 16px;">CarePal</h1>
                    <h5 class="pb-1" style="text-align: left; color: rgba(255, 255, 255, 0.9); font-size: 16px; margin-bottom: 31px; margin-left: 16px;">by dhikarfi</h5>
                    <div class="frame-container">
                    <div class="frame">
                        <p class="caption-left" >UI/UX Design</p></div>
                        <p class="caption-right">24 Nov 2022</p>
                    </div>
                    <div class="container" style="display: flex; justify-content: center;">
                    <button class="showToast my-buttonp">
                        See Project
                    </button>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-3">
                <div class="card1 custom-rounded box border-1- card1-bg-image mx-2 mx-md-3 mx-lg-4 position-relative" style="cursor: pointer;">
                <div class="card1-body text-center">
                    <div class="img-container">
                        <img src="/ShowcaseProducts.svg" class="custom-rounded box border-1- card1-bg-image img-fluid" style="cursor: pointer;">
                    </div>
                    <h1 class="pb-1 fw-bold" style="text-align: left; color: white; margin-left: 16px;">CarePal</h1>
                    <h5 class="pb-1" style="text-align: left; color: rgba(255, 255, 255, 0.9); font-size: 16px; margin-bottom: 31px; margin-left: 16px;">by dhikarfi</h5>
                    <div class="frame-container">
                    <div class="frame">
                        <p class="caption-left" >UI/UX Design</p></div>
                        <p class="caption-right">24 Nov 2022</p>
                    </div>
                    <div class="container" style="display: flex; justify-content: center;">
                    <button class="showToast my-buttonp">
                        See Project
                    </button>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-11 col-md-3 col-lg-3 d-md-none d-lg-flex">
                <div class="card1 custom-rounded box border-1- card1-bg-image mx-2 mx-md-3 mx-lg-4 position-relative" style="cursor: pointer;">
                <div class="card1-body text-center">
                    <div class="img-container">
                        <img src="/ShowcaseProducts.svg" class="custom-rounded box border-1- card1-bg-image img-fluid" style="cursor: pointer;">
                    </div>
                    <h1 class="pb-1 fw-bold" style="text-align: left; color: white; margin-left: 16px;">CarePal</h1>
                    <h5 class="pb-1" style="text-align: left; color: rgba(255, 255, 255, 0.9); font-size: 16px; margin-bottom: 31px; margin-left: 16px;">by dhikarfi</h5>
                    <div class="frame-container">
                    <div class="frame">
                        <p class="caption-left" >UI/UX Design</p></div>
                        <p class="caption-right">24 Nov 2022</p>
                    </div>
                    <div class="container" style="display: flex; justify-content: center;">
                    <button class="showToast my-buttonp">
                        See Project
                    </button>
                    </div>
                </div>
                </div>
            </div>
            </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-bs-slide="prev">
    <img src={left_ico} alt="...">
            <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-bs-slide="next">
    <img src={right_ico} alt="...">
            <span class="visually-hidden">Previous</span>
  </a>
</div>
</div>
</div>
</div>



<div class="container" style="display: flex; justify-content: center;">
  <button class="showToast btn my-button btn-primary-p100 text-white fw-bold fs-3 px-4 py-3">
    See All Product
  </button>
</div>
