<div class="toast-container position-fixed top-toast-top start-50 translate-middle p-3">
  <div
    id="toast"
    class="toast bg-danger rounded-Toast-radius"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    style="width: 25rem;"
  >
    <div class="d-flex">
      <div class="toast-body text-white fw-bold ms-2 m-auto">
        Page ini sedang dalam tahap development
      </div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        data-bs-dismiss="toast"
        aria-label="Close"
        style="back: white;"></button>
    </div>
  </div>
</div>
