---
import "../styles/UserReview.scss";
---

<div class="heading text-center">
  <h1
    class="fw-bold display-5 mt-5 mt-xl-7 mb-6 mb-xl-5"
    style="background: linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%); -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;"
  >
    What People Say
  </h1>
</div>

<div class="container">
  <div class="d-flex flex-column">
    <div class="content d-flex justify-content-center align-items-center">
      <div class="custom-box mb-6 mb-xl-7">
        <div class="user-text">
          <p>
            Menurut saya Ilkomunity ini sangat membantu saya dalam memberikan
            motivasi dan semangat lebih untuk mendalami bidang yang saya
            inginkan, yaitu Back End. Dengan adanya Ilkomunity, saya bisa
            belajar dan berkembang bersama teman-teman yang memiliki minat yang
            sama.
          </p>
          <span class="author">Dwinanda - Back End Dev Tokopedia</span>
        </div>
      </div>
    </div>

    <div class="owl-carousel-review">
      <div class="item">
        <div class="card-user-review mx-auto mb-2">
          <img
            src="testimoni-dwinanda.jpg"
            class="card-img-top card-image-review"
            style="border-radius: 73px 13px 0px 0px;"
            alt="..."
          />
          <div class="card-body text-center">
            <h5 class="card-title fs-6 fw-semibold mt-3 mb-2">
              Dwinanda Rizkiansyah
            </h5>
            <p class="card-text user-card-size fw-semibold mb-3">
              Back End Dev Tokopedia
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card-user-review mx-auto mb-2">
          <img
            src="testimoni-tegar.jpg"
            class="card-img-top card-image-review"
            style="border-radius: 73px 13px 0px 0px;"
            alt="..."
          />
          <div class="card-body text-center">
            <h5 class="card-title fs-6 fw-semibold mt-3 mb-2">
              Muhammad Tegar S
            </h5>
            <p class="card-text user-card-size fw-semibold mb-3">
              Penetration Tester Shopee
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card-user-review mx-auto mb-2">
          <img
            src="testimoni-andika.jpg"
            class="card-img-top card-image-review"
            style="border-radius: 73px 13px 0px 0px;"
            alt="..."
          />
          <div class="card-body text-center">
            <h5 class="card-title fs-6 fw-semibold mt-3 mb-2">
              Andhika R Lazuardi
            </h5>
            <p class="card-text user-card-size fw-semibold mb-3">
              Data Scientist Telkom
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card-user-review mx-auto mb-2">
          <img
            src="testimoni-mbape.jpg"
            class="card-img-top card-image-review"
            style="border-radius: 73px 13px 0px 0px;"
            alt="..."
          />
          <div class="card-body text-center">
            <h5 class="card-title fs-6 fw-semibold mt-3 mb-2">Ahmad Mbappe</h5>
            <p class="card-text user-card-size fw-semibold mb-3">
              UI/UX Designer Satpol PP
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card-user-review mx-auto mb-2">
          <img
            src="testimoni-trump.jpg"
            class="card-img-top card-image-review"
            style="border-radius: 73px 13px 0px 0px;"
            alt="..."
          />
          <div class="card-body text-center">
            <h5 class="card-title fs-6 fw-semibold mt-3 mb-2">
              Maulana Trumpida
            </h5>
            <p class="card-text user-card-size fw-semibold mb-3">
              Front End Dev Warteg Bahari
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card-user-review mx-auto mb-2">
          <img
            src="testimoni-dwinanda.jpg"
            class="card-img-top card-image-review"
            style="border-radius: 73px 13px 0px 0px;"
            alt="..."
          />
          <div class="card-body text-center">
            <h5 class="card-title fs-6 fw-semibold mt-3 mb-2">
              Dwinanda Rizkiansyah
            </h5>
            <p class="card-text user-card-size fw-semibold mb-3">
              Back End Dev Tokopedia
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card-user-review mx-auto mb-2">
          <img
            src="testimoni-tegar.jpg"
            class="card-img-top card-image-review"
            style="border-radius: 73px 13px 0px 0px;"
            alt="..."
          />
          <div class="card-body text-center">
            <h5 class="card-title fs-6 fw-semibold mt-3 mb-2">
              Muhammad Tegar S
            </h5>
            <p class="card-text user-card-size fw-semibold mb-3">
              Penetration Tester Shopee
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card-user-review mx-auto mb-2">
          <img
            src="testimoni-andika.jpg"
            class="card-img-top card-image-review"
            style="border-radius: 73px 13px 0px 0px;"
            alt="..."
          />
          <div class="card-body text-center">
            <h5 class="card-title fs-6 fw-semibold mt-3 mb-2">
              Andhika R Lazuardi
            </h5>
            <p class="card-text user-card-size fw-semibold mb-3">
              Data Scientist Telkom
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card-user-review mx-auto mb-2">
          <img
            src="testimoni-mbape.jpg"
            class="card-img-top card-image-review"
            style="border-radius: 73px 13px 0px 0px;"
            alt="..."
          />
          <div class="card-body text-center">
            <h5 class="card-title fs-6 fw-semibold mt-3 mb-2">Ahmad Mbappe</h5>
            <p class="card-text user-card-size fw-semibold mb-3">
              UI/UX Designer Satpol PP
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card-user-review mx-auto mb-2">
          <img
            src="testimoni-trump.jpg"
            class="card-img-top card-image-review"
            style="border-radius: 73px 13px 0px 0px;"
            alt="..."
          />
          <div class="card-body text-center">
            <h5 class="card-title fs-6 fw-semibold mt-3 mb-2">
              Maulana Trumpida
            </h5>
            <p class="card-text user-card-size fw-semibold mb-3">
              Front End Dev Warteg Bahari
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="button-totop">
  <img class="back-icon" src="back-to-top.svg" alt="" id="btn-back-to-top">
</div>

<script>
  //Get the button
let mybutton = document.getElementById("btn-back-to-top");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function () {
scrollFunction();
};

function scrollFunction() {
if (
document.body.scrollTop > 20 ||
document.documentElement.scrollTop > 20
) {
mybutton.style.display = "block";
} else {
mybutton.style.display = "none";
}
}
// When the user clicks on the button, scroll to the top of the document
mybutton.addEventListener("click", backToTop);

function backToTop() {
document.body.scrollTop = 0;
document.documentElement.scrollTop = 0;
}
</script>

