---
import "../styles/UserReview.scss";

---

<div class="heading text-center">
  <h1 class="fw-bold" style="background: linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%); -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;"
  >
    What People Say
  </h1>
</div>

<section>
  <div class="container ">
    <div class="d-flex flex-column">
      <div class="content d-flex justify-content-center align-items-center">
        <div class="custom-box">
            <div class="user-text fs-5">
              <p>
                Menurut saya Ilkomunity ini sangat membantu saya dalam memberikan motivasi dan semangat lebih untuk 
                mendalami bidang yang saya inginkan, yaitu Back End. Dengan adanya Ilkomunity, saya bisa belajar dan 
                berkembang bersama teman-teman yang memiliki minat yang sama.
              </p>
              <span class="author">Dwinanda - Back End Dev Tokopedia</span>
          </div>
      </div>
      </div>
      <div class="testimonial-section ">
        <div class="wrapper">
          <div>
            <img src="Arrow Right.svg" alt="" class="icon-arrow" id="arrow-left">
          </div>
          <div class="carousel " >
            <div class="user-custom-box">
              <div class="d-flex justify-content-center align-items-center">
                <img src="testimoni-dwinanda.jpg" alt="Dwinanda" class="author-pic">
              </div>
              <span class="author-name">Dwinanda Rizkiansyah</span>
              <span class="author-job">Back End Dev Tokopedia</span>
            </div>
            <div class="user-custom-box">
              <div class="d-flex justify-content-center align-items-center">
                <img src="testimoni-tegar.jpg" alt="Tegar" class="author-pic">
              </div>
              <span class="author-name">Muhammad Tegar S</span>
              <span class="author-job">Penetration Tester Shopee</span>
            </div>
            <div class="user-custom-box">
              <div class="d-flex justify-content-center align-items-center">
                <img src="testimoni-andika.jpg" alt="Andika" class="author-pic">
              </div>
              <span class="author-name">Andhika R Lazuardi</span>
              <span class="author-job">Data Scientist Telkom</span>
            </div>
            <div class="user-custom-box">
              <div class="d-flex justify-content-center align-items-center">
                <img src="testimoni-mbape.jpg" alt="Mbape" class="author-pic">
              </div>
              <span class="author-name">Ahmad Mbappe</span>
              <span class="author-job">UI/UX Designer Satpol PP</span>
            </div>
            <div class="user-custom-box">
              <div class="d-flex justify-content-center align-items-center">
                <img src="testimoni-trump.jpg" alt="Trump" class="author-pic">
              </div>
              <span class="author-name">Maulana Trumpida</span>
              <span class="author-job">Front End Dev Warteg Bahari</span>
            </div>
            <!-- <div class="user-custom-box">
              <div class="d-flex justify-content-center align-items-center">
                <img src="testimoni-dwinanda.jpg" alt="Dwinanda" class="author-pic">
              </div>
              <span class="author-name">Dwinanda Rizkiansyah</span>
              <span class="author-job">Back End Dev Tokopedia</span>
            </div>
            <div class="user-custom-box">
              <div class="d-flex justify-content-center align-items-center">
                <img src="testimoni-tegar.jpg" alt="Tegar" class="author-pic">
              </div>
              <span class="author-name">Muhammad Tegar S</span>
              <span class="author-job">Penetration Tester Shopee</span>
            </div>
            <div class="user-custom-box">
              <div class="d-flex justify-content-center align-items-center">
                <img src="testimoni-andika.jpg" alt="Andika" class="author-pic">
              </div>
              <span class="author-name">Andhika R Lazuardi</span>
              <span class="author-job">Data Scientist Telkom</span>
            </div>
            <div class="user-custom-box">
              <div class="d-flex justify-content-center align-items-center">
                <img src="testimoni-mbape.jpg" alt="Mbape" class="author-pic">
              </div>
              <span class="author-name">Ahmad Mbappe</span>
              <span class="author-job">UI/UX Designer Satpol PP</span>
            </div>
            <div class="user-custom-box">
              <div class="d-flex justify-content-center align-items-center">
                <img src="testimoni-trump.jpg" alt="Trump" class="author-pic">
              </div>
              <span class="author-name">Maulana Trumpida</span>
              <span class="author-job">Front End Dev Warteg Bahari</span>
            </div> -->
          </div>
          <div class="..." >
            <img src="Arrow Right.svg" alt="" class="icon-arrow" id="arrow-right">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>