---
import "../styles/UserReview.scss";

---

<div class="heading text-center">
  <h1 class="fw-bold display-5 mt-5 mt-xl-7 mb-6 mb-xl-5" style="background: linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%); -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;"
  >
    What People Say
  </h1>
</div>

<section>
  <div class="container ">
    <div class="d-flex flex-column">
      <div class="content d-flex justify-content-center align-items-center">
        <div class="custom-box mb-6 mb-xl-7">
            <div class="user-text">
              <p>
                Menurut saya Ilkomunity ini sangat membantu saya dalam memberikan motivasi dan semangat lebih untuk 
                mendalami bidang yang saya inginkan, yaitu Back End. Dengan adanya Ilkomunity, saya bisa belajar dan 
                berkembang bersama teman-teman yang memiliki minat yang sama.
              </p>
              <span class="author">Dwinanda - Back End Dev Tokopedia</span>
          </div>
      </div>
    </div>

    <div class="testimonial-section">
      <!-- Dekstop content/ -->
      <div class="content-wrapper  d-none d-md-none d-lg-block">
        <div id="carouselDesktop" class="carousel slide" >
          <div class="carousel-indicators">
            <a type="button" data-bs-target="#carouselDesktop" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></a>
            <a type="button" data-bs-target="#carouselDesktop" data-bs-slide-to="1" aria-label="Slide 2"></a>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-wrapper">
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-dwinanda.jpg" alt="Dwinanda" class="author-pic">
                  </div>
                  <span class="author-name">Dwinanda Rizkiansyah</span>
                  <span class="author-job">Back End Dev Tokopedia</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-tegar.jpg" alt="Tegar" class="author-pic">
                  </div>
                  <span class="author-name">Muhammad Tegar S</span>
                  <span class="author-job">Penetration Tester Shopee</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-andika.jpg" alt="Andika" class="author-pic">
                  </div>
                  <span class="author-name">Andhika R Lazuardi</span>
                  <span class="author-job">Data Scientist Telkom</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-mbape.jpg" alt="Mbape" class="author-pic">
                  </div>
                  <span class="author-name">Ahmad Mbappe</span>
                  <span class="author-job">UI/UX Designer Satpol PP</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-trump.jpg" alt="Trump" class="author-pic">
                  </div>
                  <span class="author-name">Maulana Trumpida</span>
                  <span class="author-job">Front End Dev Warteg Bahari</span>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-wrapper">
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-dwinanda.jpg" alt="Dwinanda" class="author-pic">
                  </div>
                    <span class="author-name">Dwinanda Rizkiansyah</span>
                    <span class="author-job">Back End Dev Tokopedia</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-tegar.jpg" alt="Tegar" class="author-pic">
                  </div>
                  <span class="author-name">Muhammad Tegar S</span>
                  <span class="author-job">Penetration Tester Shopee</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-andika.jpg" alt="Andika" class="author-pic">
                  </div>
                  <span class="author-name">Andhika R Lazuardi</span>
                  <span class="author-job">Data Scientist Telkom</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-mbape.jpg" alt="Mbape" class="author-pic">
                  </div>
                  <span class="author-name">Ahmad Mbappe</span>
                  <span class="author-job">UI/UX Designer Satpol PP</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-trump.jpg" alt="Trump" class="author-pic">
                  </div>
                  <span class="author-name">Maulana Trumpida</span>
                  <span class="author-job">Front End Dev Warteg Bahari</span>
                </div>
              </div>
            </div>
          </div>
          <a class="arrow-btn carousel-control-prev" type="button" data-bs-target="#carouselDesktop" data-bs-slide="prev">
            <img src="Arrow Left.svg" alt="..."  aria-hidden="false"></img>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="arrow-btn carousel-control-next" type="button" data-bs-target="#carouselDesktop" data-bs-slide="next">
            <img src="Arrow Right.svg" alt="..." aria-hidden="true"></img>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div> 

      <!-- Tablet content -->
      <div class="content-wrapper  d-none d-md-block d-lg-none">
        <div id="carouselTablet" class="carousel slide" >
          <div class="carousel-indicators">
            <a type="button" data-bs-target="#carouselTablet" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></a>
            <a type="button" data-bs-target="#carouselTablet" data-bs-slide-to="1" aria-label="Slide 2"></a>
            <a type="button" data-bs-target="#carouselTablet" data-bs-slide-to="2" aria-label="Slide 3"></a>
            <a type="button" data-bs-target="#carouselTablet" data-bs-slide-to="3" aria-label="Slide 4"></a>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-wrapper">
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-dwinanda.jpg" alt="Dwinanda" class="author-pic">
                  </div>
                  <span class="author-name">Dwinanda Rizkiansyah</span>
                  <span class="author-job">Back End Dev Tokopedia</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-tegar.jpg" alt="Tegar" class="author-pic">
                  </div>
                  <span class="author-name">Muhammad Tegar S</span>
                  <span class="author-job">Penetration Tester Shopee</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-andika.jpg" alt="Andika" class="author-pic">
                  </div>
                  <span class="author-name">Andhika R Lazuardi</span>
                  <span class="author-job">Data Scientist Telkom</span>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-wrapper">
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-mbape.jpg" alt="Mbape" class="author-pic">
                  </div>
                  <span class="author-name">Ahmad Mbappe</span>
                  <span class="author-job">UI/UX Designer Satpol PP</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-trump.jpg" alt="Trump" class="author-pic">
                  </div>
                  <span class="author-name">Maulana Trumpida</span>
                  <span class="author-job">Front End Dev Warteg Bahari</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-dwinanda.jpg" alt="Dwinanda" class="author-pic">
                  </div>
                    <span class="author-name">Dwinanda Rizkiansyah</span>
                    <span class="author-job">Back End Dev Tokopedia</span>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-wrapper">
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-tegar.jpg" alt="Tegar" class="author-pic">
                  </div>
                  <span class="author-name">Muhammad Tegar S</span>
                  <span class="author-job">Penetration Tester Shopee</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-andika.jpg" alt="Andika" class="author-pic">
                  </div>
                  <span class="author-name">Andhika R Lazuardi</span>
                  <span class="author-job">Data Scientist Telkom</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-mbape.jpg" alt="Mbape" class="author-pic">
                  </div>
                  <span class="author-name">Ahmad Mbappe</span>
                  <span class="author-job">UI/UX Designer Satpol PP</span>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-wrapper">
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-trump.jpg" alt="Trump" class="author-pic">
                  </div>
                  <span class="author-name">Maulana Trumpida</span>
                  <span class="author-job">Front End Dev Warteg Bahari</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-dwinanda.jpg" alt="Dwinanda" class="author-pic">
                  </div>
                    <span class="author-name">Dwinanda Rizkiansyah</span>
                    <span class="author-job">Back End Dev Tokopedia</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-tegar.jpg" alt="Tegar" class="author-pic">
                  </div>
                  <span class="author-name">Muhammad Tegar S</span>
                  <span class="author-job">Penetration Tester Shopee</span>
                </div>
              </div>
            </div>
          </div>
          <a class="arrow-btn carousel-control-prev" type="button" data-bs-target="#carouselTablet" data-bs-slide="prev">
            <img src="Arrow Left.svg" alt="..."  aria-hidden="false"></img>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="arrow-btn carousel-control-next" type="button" data-bs-target="#carouselTablet" data-bs-slide="next">
            <img src="Arrow Right.svg" alt="..." aria-hidden="true"></img>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>

      <!-- Mobile content -->
      <div class="content-wrapper  d-block d-md-none d-lg-none">
        <div id="carouselMobile" class="carousel slide" >
          <div class="carousel-indicators">
            <a type="button" data-bs-target="#carouselMobile" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></a>
            <a type="button" data-bs-target="#carouselMobile" data-bs-slide-to="1" aria-label="Slide 2"></a>
            <a type="button" data-bs-target="#carouselMobile" data-bs-slide-to="2" aria-label="Slide 3"></a>
            <a type="button" data-bs-target="#carouselMobile" data-bs-slide-to="3" aria-label="Slide 4"></a>
            <a type="button" data-bs-target="#carouselMobile" data-bs-slide-to="4" aria-label="Slide 5"></a>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-wrapper">
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-dwinanda.jpg" alt="Dwinanda" class="author-pic">
                  </div>
                  <span class="author-name">Dwinanda Rizkiansyah</span>
                  <span class="author-job">Back End Dev Tokopedia</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-tegar.jpg" alt="Tegar" class="author-pic">
                  </div>
                  <span class="author-name">Muhammad Tegar S</span>
                  <span class="author-job">Penetration Tester Shopee</span>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-wrapper">
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-andika.jpg" alt="Andika" class="author-pic">
                  </div>
                  <span class="author-name">Andhika R Lazuardi</span>
                  <span class="author-job">Data Scientist Telkom</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-mbape.jpg" alt="Mbape" class="author-pic">
                  </div>
                  <span class="author-name">Ahmad Mbappe</span>
                  <span class="author-job">UI/UX Designer Satpol PP</span>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-wrapper">
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-trump.jpg" alt="Trump" class="author-pic">
                  </div>
                  <span class="author-name">Maulana Trumpida</span>
                  <span class="author-job">Front End Dev Warteg Bahari</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-dwinanda.jpg" alt="Dwinanda" class="author-pic">
                  </div>
                    <span class="author-name">Dwinanda Rizkiansyah</span>
                    <span class="author-job">Back End Dev Tokopedia</span>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-wrapper">
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-tegar.jpg" alt="Tegar" class="author-pic">
                  </div>
                  <span class="author-name">Muhammad Tegar S</span>
                  <span class="author-job">Penetration Tester Shopee</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-andika.jpg" alt="Andika" class="author-pic">
                  </div>
                  <span class="author-name">Andhika R Lazuardi</span>
                  <span class="author-job">Data Scientist Telkom</span>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-wrapper">
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-trump.jpg" alt="Trump" class="author-pic">
                  </div>
                  <span class="author-name">Maulana Trumpida</span>
                  <span class="author-job">Front End Dev Warteg Bahari</span>
                </div>
                <div class="user-custom-box">
                  <div class="d-flex justify-content-center align-items-center">
                    <img src="testimoni-mbape.jpg" alt="Mbape" class="author-pic">
                  </div>
                  <span class="author-name">Ahmad Mbappe</span>
                  <span class="author-job">UI/UX Designer Satpol PP</span>
                </div>
              </div>
            </div>
          </div>
          <a class="arrow-btn carousel-control-prev" type="button" data-bs-target="#carouselMobile" data-bs-slide="prev">
            <img src="Arrow Left.svg" alt="..."  aria-hidden="false"></img>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="arrow-btn carousel-control-next" type="button" data-bs-target="#carouselMobile" data-bs-slide="next">
            <img src="Arrow Right.svg" alt="..." aria-hidden="true"></img>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>

    </div>
    <a class="d-none d-md-block" href="#">
      <img src="Back To Top.svg" alt="">
    </a>
    </div>
  </div>
</section>
