---
import "../styles/UserReview.scss";

---

<div class="heading text-center">
  <h1 class="fw-bold display-5 mt-5 mt-xl-7 mb-6 mb-xl-5" style="background: linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%); -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;"
  >
    What People Say
  </h1>
</div>

  <div class="container ">
    <div class="d-flex flex-column">
      <div class="content d-flex justify-content-center align-items-center">
        <div class="custom-box mb-6 mb-xl-7">
            <div class="user-text">
              <p>
                Menurut saya Ilkomunity ini sangat membantu saya dalam memberikan motivasi dan semangat lebih untuk 
                mendalami bidang yang saya inginkan, yaitu Back End. Dengan adanya Ilkomunity, saya bisa belajar dan 
                berkembang bersama teman-teman yang memiliki minat yang sama.
              </p>
              <span class="author">Dwinanda - Back End Dev Tokopedia</span>
          </div>
      </div>
    </div>

    <div class="container mt-5">
      <div id="card-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="row">
                      <div class="col-md-2 mx-auto">
                          <div class="card card-user-border" style="width: 205px; border-bottom-left-radius: 25px; border-bottom-right-radius: 45px; border-top-left-radius: 80px; border-top-right-radius: 25px;">
                              <img src="user1.png" class="card-img-top card-userreview" alt="..." style="border-top-left-radius: 80px; border-top-right-radius: 25px;">
                              <div class="card-body text-center fw-semibold">
                                  <h5 class="card-title fs-6">Dwinanda Rizkiansyah</h5>
                                  <p class="card-text card-text-font">Back End Dev Tokopedia</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-2 mx-auto">
                          <div class="card card-user-border" style="width: 205px; border-bottom-left-radius: 25px; border-bottom-right-radius: 45px; border-top-left-radius: 80px; border-top-right-radius: 25px;">
                              <img src="user2.png" class="card-img-top card-userreview" alt="..." style="border-top-left-radius: 80px; border-top-right-radius: 25px;">
                              <div class="card-body text-center fw-semibold">
                                  <h5 class="card-title fs-6">Muhammad Tegar S</h5>
                                  <p class="card-text card-text-font">Penetration Tester Shopee</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-2 mx-auto">
                          <div class="card card-user-border" style="width: 205px; border-bottom-left-radius: 25px; border-bottom-right-radius: 45px; border-top-left-radius: 80px; border-top-right-radius: 25px;">
                              <img src="user3.png" class="card-img-top card-userreview" alt="..." style="border-top-left-radius: 80px; border-top-right-radius: 25px;">
                              <div class="card-body text-center fw-semibold">
                                  <h5 class="card-title fs-6">Andhika R Lazuardi</h5>
                                  <p class="card-text card-text-font">Data Scientist Telkom</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-2 mx-auto">
                          <div class="card card-user-border" style="width: 205px; border-bottom-left-radius: 25px; border-bottom-right-radius: 45px; border-top-left-radius: 80px; border-top-right-radius: 25px;">
                              <img src="user4.png" class="card-img-top card-userreview" alt="..." style="border-top-left-radius: 80px; border-top-right-radius: 25px;">
                              <div class="card-body text-center fw-semibold">
                                  <h5 class="card-title fs-6">Ahmad Mbappe</h5>
                                  <p class="card-text card-text-font">UI/UX Designer Satpol PP</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-2 mx-auto">
                          <div class="card card-user-border" style="width: 205px; border-bottom-left-radius: 25px; border-bottom-right-radius: 45px; border-top-left-radius: 80px; border-top-right-radius: 25px;">
                              <img src="user5.png" class="card-img-top card-userreview" alt="..." style="border-top-left-radius: 80px; border-top-right-radius: 25px;">
                              <div class="card-body text-center fw-semibold">
                                  <h5 class="card-title fs-6">Maulana Trumpida</h5>
                                  <p class="card-text card-text-font">Front End Dev Warteg Bahari</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  
              </div>

              <div class="carousel-item">
                <div class="row">
                      <div class="col-md-2 mx-auto">
                          <div class="card card-user-border" style="width: 205px; border-bottom-left-radius: 25px; border-bottom-right-radius: 45px; border-top-left-radius: 80px; border-top-right-radius: 25px;">
                              <img src="user1.png" class="card-img-top card-userreview" alt="..." style="border-top-left-radius: 80px; border-top-right-radius: 25px;">
                              <div class="card-body text-center fw-semibold">
                                  <h5 class="card-title fs-6">Dwinanda Rizkiansyah</h5>
                                  <p class="card-text card-text-font">Back End Dev Tokopedia</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-2 mx-auto">
                          <div class="card card-user-border" style="width: 205px; border-bottom-left-radius: 25px; border-bottom-right-radius: 45px; border-top-left-radius: 80px; border-top-right-radius: 25px;">
                              <img src="user2.png" class="card-img-top card-userreview" alt="..." style="border-top-left-radius: 80px; border-top-right-radius: 25px;">
                              <div class="card-body text-center fw-semibold">
                                  <h5 class="card-title fs-6">Muhammad Tegar S</h5>
                                  <p class="card-text card-text-font">Penetration Tester Shopee</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-2 mx-auto">
                          <div class="card card-user-border" style="width: 205px; border-bottom-left-radius: 25px; border-bottom-right-radius: 45px; border-top-left-radius: 80px; border-top-right-radius: 25px;">
                              <img src="user3.png" class="card-img-top card-userreview" alt="..." style="border-top-left-radius: 80px; border-top-right-radius: 25px;">
                              <div class="card-body text-center fw-semibold">
                                  <h5 class="card-title fs-6">Andhika R Lazuardi</h5>
                                  <p class="card-text card-text-font">Data Scientist Telkom</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-2 mx-auto">
                          <div class="card card-user-border" style="width: 205px; border-bottom-left-radius: 25px; border-bottom-right-radius: 45px; border-top-left-radius: 80px; border-top-right-radius: 25px;">
                              <img src="user4.png" class="card-img-top card-userreview" alt="..." style="border-top-left-radius: 80px; border-top-right-radius: 25px;">
                              <div class="card-body text-center fw-semibold">
                                  <h5 class="card-title fs-6">Ahmad Mbappe</h5>
                                  <p class="card-text card-text-font">UI/UX Designer Satpol PP</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-2 mx-auto">
                          <div class="card card-user-border" style="width: 205px; border-bottom-left-radius: 25px; border-bottom-right-radius: 45px; border-top-left-radius: 80px; border-top-right-radius: 25px;">  
                              <img src="user5.png" class="card-img-top card-userreview" alt="..." style="border-top-left-radius: 80px; border-top-right-radius: 25px;">
                              <div class="card-body text-center fw-semibold">
                                  <h5 class="card-title fs-6">Maulana Trumpida</h5>
                                  <p class="card-text card-text-font">Front End Dev Warteg Bahari</p>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>

          </div>
          <!-- Controls -->
          <a class="carousel-control-prev" href="#card-carousel" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#card-carousel" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </a>
      </div>
  </div>
  
