---
import "../styles/UserReview.scss";

---

<div class="heading text-center">
  <h1 class="fw-bold display-5 mt-5 mt-xl-7 mb-6 mb-xl-5" style="background: linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%); -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;"
  >
    What People Say
  </h1>
</div>

<div class="container">
    <div class="d-flex flex-column">
      <div class="content d-flex justify-content-center align-items-center">
        <div class="custom-box mb-6 mb-xl-7">
            <div class="user-text">
              <p>
                Menurut saya Ilkomunity ini sangat membantu saya dalam memberikan motivasi dan semangat lebih untuk 
                mendalami bidang yang saya inginkan, yaitu Back End. Dengan adanya Ilkomunity, saya bisa belajar dan 
                berkembang bersama teman-teman yang memiliki minat yang sama.
              </p>
              <span class="author">Dwinanda - Back End Dev Tokopedia</span>
          </div>
      </div>
    </div>

    <div class="owl-carousel-review">
        <div class="item">
            <div class="card card-user-review" style="width: 13rem; border-radius: 80px 20px 40px 20px;">
                <img src="testimoni-dwinanda.jpg" class="card-img-top card-image-review" style="border-radius: 80px 20px 0px 0px;" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Dwinanda Rizkiansyah</h5>
                  <p class="card-text">Back End Dev Tokopedia</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card card-user-review" style="width: 13rem; border-radius: 80px 20px 40px 20px;">
                <img src="testimoni-tegar.jpg" class="card-img-top card-image-review" style="border-radius: 80px 20px 0px 0px;" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Muhammad Tegar S</h5>
                  <p class="card-text">Penetration Tester Shopee</p>
                  
                </div>
              </div>
        </div>
        <div class="item">
            <div class="card card-user-review" style="width: 13rem; border-radius: 80px 20px 40px 20px;">
                <img src="testimoni-andika.jpg" class="card-img-top card-image-review" style="border-radius: 80px 20px 0px 0px;" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Andhika R Lazuardi</h5>
                  <p class="card-text">Data Scientist Telkom</p>
                  
                </div>
              </div>
        </div>
        <div class="item">
            <div class="card card-user-review" style="width: 13rem; border-radius: 80px 20px 40px 20px;">
                <img src="testimoni-mbape.jpg" class="card-img-top card-image-review" style="border-radius: 80px 20px 0px 0px;" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ahmad Mbappe</h5>
                  <p class="card-text">UI/UX Designer Satpol PP</p>
                  
                </div>
              </div>
        </div>
        <div class="item">
            <div class="card card-user-review" style="width: 13rem; border-radius: 80px 20px 40px 20px;">
                <img src="testimoni-trump.jpg" class="card-img-top card-image-review" style="border-radius: 80px 20px 0px 0px;" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maulana Trumpida</h5>
                  <p class="card-text">Front End Dev Warteg Bahari</p>
                  
                </div>
              </div>
        </div>
        <div class="item">
            <div class="card card-user-review" style="width: 13rem; border-radius: 80px 20px 40px 20px;">
                <img src="testimoni-dwinanda.jpg" class="card-img-top card-image-review" style="border-radius: 80px 20px 0px 0px;" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Dwinanda Rizkiansyah</h5>
                  <p class="card-text">Back End Dev Tokopedia</p>
                  
                </div>
              </div>
        </div>
        <div class="item">
            <div class="card card-user-review" style="width: 13rem; border-radius: 80px 20px 40px 20px;">
                <img src="testimoni-tegar.jpg" class="card-img-top card-image-review" style="border-radius: 80px 20px 0px 0px;" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Muhammad Tegar S</h5>
                  <p class="card-text">Penetration Tester Shopee</p>
                  
                </div>
              </div>
        </div>
        <div class="item">
            <div class="card card-user-review" style="width: 13rem; border-radius: 80px 20px 40px 20px;">
                <img src="testimoni-andika.jpg" class="card-img-top card-image-review" style="border-radius: 80px 20px 0px 0px;" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Andhika R Lazuardi</h5>
                  <p class="card-text">Data Scientist Telkom</p>
                  
                </div>
              </div>
        </div>
        <div class="item">
            <div class="card card-user-review" style="width: 13rem; border-radius: 80px 20px 40px 20px;">
                <img src="testimoni-mbape.jpg" class="card-img-top card-image-review" style="border-radius: 80px 20px 0px 0px;" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ahmad Mbappe</h5>
                  <p class="card-text">UI/UX Designer Satpol PP</p>
                  
                </div>
              </div>
        </div>
        <div class="item">
            <div class="card card-user-review" style="width: 13rem; border-radius: 80px 20px 40px 20px;">
                <img src="testimoni-trump.jpg" class="card-img-top card-image-review" style="border-radius: 80px 20px 0px 0px;" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maulana Trumpida</h5>
                  <p class="card-text">Front End Dev Warteg Bahari</p>
                  
                </div>
              </div>
        </div>
    </div>
</div>
  
