---
const { title } = Astro.props;
import Navbar from '../components/Navbar.astro';
import '../styles/main.scss';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml+png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <Navbar />
		<slot>No content derived</slot>
	</body>
</html>
